<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restoran Favorit</title>
    <link rel="stylesheet" href="../styles/main.css" type="text/css">
    <link rel="icon" href="images/heros/diet.png" type="image/x-icon">
    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link
      href="https://fonts.googleapis.com/css2?family=Signika&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <a href="#list-content" class="skip-link">Skip To Content</a>
    <header>
        <nav>
            <div class="brand">
                <div class="logo"></div>
                <div class="brand-text">Aplikasi Eco</div>
            </div>
            <button id="hamburger" class="menu-toggle">☰</button>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="favorite.html">Favorite</a></li>
                <li><a href="https://github.com/masntaa03">About Us</a></li>
                <li><a href="detail.html">Details</a></li>
            </ul>
        </nav>
    </header>
        <h1>Restoran Favorit</h1>
        <ul id="favorite-list" class="favorite-list"></ul>
    <footer>
        <p>Copyright © 2020 - Hunger Apps</p>
    </footer>
    <nav id="drawer" class="closed">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/masntaa03">About Us</a></li>
        </ul>
    </nav>
    <script src="/src/scripts/detail.js"></script>
    <script src="/src/scripts/favorite.js"></script>
    <script src="/src/scripts/index.js"></script>
</body>
</html>
